* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
body {
    background-color: #f8f9fd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.subtitle {
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

.header {
    background-color: #3e57db;
    color: #fff;
    padding: 30px 20px;
}
input {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
}
input:focus {
    outline: none;
}
.user-list {
    background-color: #fff;
    max-height: 400px;
    width: 300px;
    overflow-y: auto;
}
.user-list li {
    display: flex;
    align-items: center;
    padding: 20px;
}

img {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.user-info {
    margin-left: 10px;
}
.user-info h4 {
    margin: 0 0 10px;
}
.user-info p {
    font-size: 12px;
}
.user-list li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

li.hide {
    display: none;
}
